html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro';
  background-color: var(--background__color);
}

::-webkit-scrollbar {
  display: none;
}

.body {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

:root {
  --background__color: aliceblue;
  --top__bottom__bar: #0f0700;
  --white: white;
  --white__shadowed: #dbdbdb;
  --label__l__r: #5F5F5F;
  --class__blue: #9BAEC8;
  --unblack: #24292f;
  --perple: #A593E0;
}

a {
  text-decoration: none;
  color: var(--white);
}


h1 {
  text-decoration: none;
  color: var(--white);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--top__bottom__bar);
  padding: 4px 30px;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  margin-bottom: 10px;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.navbar__logo {
  font-size: 24px;
  color: var(--white);
}

.navbar__logo i {
  color: var(--white);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 4px 12px;
}

.navbar__menu a:hover {
  color: var(--white__shadowed);
}


.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--white);
}


  * {margin: 0; padding: 0; box-sizing: border-box;}
ul, li {list-style: none;}

[name="slide"] {display: none;}
.slidebox {max-width: 1000px; width: 100%; margin: 0 auto;}
.slidebox img {max-width: 100%;}
.slidebox .slidelist {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  margin-top: 30px
}

.slidebox .slideitem {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all .35s;
}

.slidebox .slideitem label {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

label.left {
  left: 20px;
  background-color: var(--label__l__r);
  background-image: url('/pictures/arrowleft.png');
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  display: none;
}

label.right {
  right: 20px;
  background-color: var(--label__l__r);
  background-image: url('/pictures/arrowright.png');
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  display: none;
}

[id="slide01"]:checked ~ .slidelist .slideitem {transform: translate(0%);animation: slide01 15s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform: translate(-100%);animation: slide02 15s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform: translate(-200%);animation: slide03 15s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform: translate(-300%);animation: slide04 15s infinite;}
[id="slide05"]:checked ~ .slidelist .slideitem {transform: translate(-400%);animation: slide05 15s infinite;}


@keyframes slide01 {
  0% {left: 0%;}
  18% {left: 0%;}
  20% {left: -100%;}
  38% {left: -100%;}
  40% {left: -200%;}
  58% {left: -200%;}
  60% {left: -300%;}
  78% {left: -300%;}
  80% {left: -400%;}
  98% {left: -400%;}
  100% {left: 0%;}
}

@keyframes slide02 {
  0% {left: 0%;}
  18% {left: 0%;}
  20% {left: -100%;}
  38% {left: -100%;}
  40% {left: -200%;}
  58% {left: -200%;}
  60% {left: -300%;}
  78% {left: -300%;}
  80% {left: -400%;}
  98% {left: -400%;}
  100% {left: 0%;}
}

@keyframes slide03 {
  0% {left: 0%;}
  18% {left: 0%;}
  20% {left: -100%;}
  38% {left: -100%;}
  40% {left: -200%;}
  58% {left: -200%;}
  60% {left: -300%;}
  78% {left: -300%;}
  80% {left: -400%;}
  98% {left: -400%;}
  100% {left: 0%;}
}

@keyframes slide04 {
  0% {left: 0%;}
  18% {left: 0%;}
  20% {left: -100%;}
  38% {left: -100%;}
  40% {left: -200%;}
  58% {left: -200%;}
  60% {left: -300%;}
  78% {left: -300%;}
  80% {left: -400%;}
  98% {left: -400%;}
  100% {left: 0%;}
}

@keyframes slide05 {
  0% {left: 0%;}
  18% {left: 0%;}
  20% {left: -100%;}
  38% {left: -100%;}
  40% {left: -200%;}
  58% {left: -200%;}
  60% {left: -300%;}
  78% {left: -300%;}
  80% {left: -400%;}
  98% {left: -400%;}
  100% {left: 0%;}
}


.principals__massage {
  background-color: var(--white);
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  margin-top: 50px;
  padding: 30px;
  font-size: 20px;
}

.principals__massage p {
  text-align: center;
  font-size: 30px;
}

  
.about__school {
  background-color: var(--white);
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  margin-top: 50px;
  padding: 30px;
}

.pic {
  align-items: center;
  text-align: center;
}

.row {
  text-align: center;
}

.end {
  text-align: right;
}


b {
  font-size: 30px;
  text-align: center;
}

.class {
  margin-top: 50px;
  background-color: var(--class__blue);
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  padding: 30px;
  line-height: 30px;
}

.adinfo {
  background-color: var(--unblack);
  margin-top: 50px;
  padding: 30px;
  text-align: center;
  color: #fff;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.calendar {
  filter: drop-shadow(0 0 10px #0003);
  margin-top: 30px;
  perspective: 100px;
  color: var(--white);
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  background-color: var(--perple);
}

.year__book {
  filter: drop-shadow(0 0 10px #0003);
  border-radius: 30px;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  perspective: 100px;
  color: var(--white);
  font-size: 15px;
  background-color: var(--unblack);
  display: none;
}

.year__book i {
  color: var(--white);
}

.footer {
  margin-top: 50px;
  text-align: center;
  background-color: var(--top__bottom__bar);
  color: var(--white);
  padding: 10px;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

#ad1 {
  position: absolute;
  left: 12.5%;
  top: 100%;
  width: 15rem;
  height: 30rem;
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 10px #0003);
  transition: all 0.5s;
}

#ad1 > a > div {
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 30rem;
}

#ad2 {
  position: absolute;
  left: 12.5%;
  top: 400%;
  width: 15rem;
  height: 30rem;
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 10px #0003);
  transition: all 0.5s;
}

#ad2 > a > div {
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 30rem;
}

#ad3 {
  position: absolute;
  left: 12.5%;
  top: 700%;
  width: 15rem;
  height: 30rem;
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 10px #0003);
  transition: all 0.5s;
}

#ad3 > a > div {
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 30rem;
}

#ad4 {
  position: absolute;
  right: 12.5%;
  top: 250%;
  width: 15rem;
  height: 30rem;
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(50%, -50%);
  filter: drop-shadow(0 0 10px #0003);
  transition: all 0.5s;
}

#ad4 > a > div {
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 30rem;
}

#ad5 {
  position: absolute;
  right: 12.5%;
  top: 550%;
  width: 15rem;
  height: 30rem;
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(50%, -50%);
  filter: drop-shadow(0 0 10px #0003);
  transition: all 0.5s;
}

#ad5 > a > div {
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 30rem;
}

#ad6 {
  position: absolute;
  right: 12.5%;
  top: 850%;
  width: 15rem;
  height: 30rem;
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(50%, -50%);
  filter: drop-shadow(0 0 10px #0003);
  transition: all 0.5s;
}

#ad6 > a > div {
  background: url("https://ifh.cc/g/oCX0Xk.jpg")no-repeat;
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 30rem;
}

.adlink {
  top: 0;
  left: 0;
}


@media screen and (max-width: 1250px) {

  body {
    font-family: 'Source Sans Pro';
    background-color: var(--background__color);
  }

  #ad1 {
    display: none;
  }

  #ad2 {
    display: none;
  }

  #ad3 {
    display: none;
  }

  #ad4 {
    display: none;
  }

  #ad5 {
    display: none;
  }

  #ad6 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toogleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }

  b {
    font-size: 15px;
  }

  .principals__massage {
    margin-top: 25px;
  }

  .principals__massage p {
    text-align: center;
    font-size: 20px;
  }

  .class {
    margin-top: 25px;
  }

  .year__book {
    display: block;
  }

  .adinfo {
    margin-top: 25px;
  }

  #ad {
    display: none;
  }
}